{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

<style>
{% block style %}
.pharma-sells{
    width: 85%;
    height: 150px;
    margin: auto;
    background-color: aqua;
    border-radius: 10px;
}
.pharma-product{
    width: 85%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    
    
    
}
.pharma-product-item{
    background-color: #f1f1f1;
    width: 292px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
    
}
.pharma-product-item:hover{
    box-shadow: 10px 10px 5px lightblue;
}
.pharma-product-item-image{
    width: 100px;
    height: 90px;
    margin: auto;

    background-color: #000;
}
.pharma-product-item-text{
    margin: auto;
    height: 30px;
    font-size: 20px;
    
}
.pharma-product-item-button{
    margin-top: 20px ;
    padding: 10px;
}
.fix-add-pharma-product{
    background-color: #141280;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
}
.fix-add-pharma-product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

{% endblock %}
</style>
{% block body%} 
<h1 style="width: 85%; margin-top: 20px; margin-left: 120px;" >Your Sells</h1>

<div class="pharma-sells">

</div>
<div class="pharma"></div>

<h1 style="width: 85%; margin-top: 20px; margin-left: 120px;" >Your Products</h1>
<div class="pharma-product">
    <div class="pharma-product-item">
        <div class="pharma-product-item-image"></div>
        <div class="pharma-product-item-text">bp</div>
        <form class="pharma-product-item-button" action="/">
            <button type="submit">Edit Product</button>
        </form>
    </div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>
    <div class="pharma-product-item"></div>

</div>
<a href="#"><div class="fix-add-pharma-product">Add product</div></a>

{% endblock %}
