{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
<style>
{% block style %}
.doc-view{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

}
.doc-view-img{
    width: 400px;
    height: 400px;
    background: aquamarine;

}
.doc-view-details{
    display: grid;
   
    grid-template-rows: 70px 70px 115px 36px ;
    
    
    
}
.doctor-view-blog{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 100px;
    background-color:#EAEAEA ;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;

}
{% endblock %}
</style>

{% block body%} 
<div class="doc-view">
    <div class="doc-view-img"></div>
    <div class="doc-view-details">
        <h1> Paracetamol </h1>
        <h3> Our mission: Provide you with up-to-date online medical care information and resources. 
             </h3>
        <h3> abhi nikli hai factory se  </h3>
        <h3> ₹ 10/- </h3>
        <div><form action="/">
            <button type="submit" style="height: 30px; width: 70px;">cart</button>
        </form></div>
    </div>
</div>

{% endblock %}