{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

<style>
{% block style %}
.pharma-sells{
    width: 85%;
    height: 150px;
    margin: auto;
    background-color: aqua;
    border-radius: 10px;
}
.pharma-product{
    
}

{% endblock %}
</style>
{% block body%} 
<h1 style="width: 85%; margin-top: 20px; margin-left: 120px;" >Your Sells</h1>

<div class="pharma-sells">

</div>
<div class="pharma"></div>

<h1 style="width: 85%; margin-top: 20px; margin-left: 120px;" >Your Products</h1>
<div class="pharma-product">

</div>

{% endblock %}
